<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="org.n52.udig.catalog.internal.sos.SOSServiceExtension"
            id="sos"
            name="SensorObservationService">
      </service>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.connectionFactory">
      <factory
            class="org.n52.udig.catalog.internal.sos.ui.SOSConnectionFactory"
            id="org.n52.udig.catalog.internal.sos.ui">
      </factory>
      <wizardPage
            banner="icons/wizban/wfs_wiz.gif"
            class="org.n52.udig.catalog.internal.sos.ui.SOSWizardPage"
            description="Imports a Sensor Observation Service into the catalog"
            icon="icons/etool16/wfs_wiz.gif"
            name="SensorObservationService">
      </wizardPage>
      <wizardPage
            class="org.n52.udig.catalog.internal.sos.ui.SOSSelectOperationPage"
            description="Imports a Sensor Observation Service into the catalog"
            name="SelectOperation">
      </wizardPage>
      <wizardPage
            class="org.n52.udig.catalog.internal.sos.ui.SOSParameterConfigurationPage"
            description="Select the offering and set parameters; left: select your parameters; right select parameter values; next button is disabled until all parameters are configured"
            name="ConfigureParameters">
      </wizardPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.refractions.udig.catalog.ui.preferences.CatalogPreferencePage"
            class="org.n52.udig.catalog.internal.sos.ui.SOSPreferencePage"
            id="org.n52.udig.catalog.internal.sos.ui.SOSPreferencePage"
            name="SOS">
      </page>
      <page
            category="org.n52.udig.catalog.internal.sos.ui.SOSPreferencePage"
            class="org.n52.udig.catalog.internal.sos.ui.SOSPreferencePage1"
            id="org.n52.udig.catalog.internal.sos.ui.SOSPreferencePage1"
            name="SOS Connection Properties">
      </page>
   </extension>
</plugin>
